WebServicePro/WebContent/wsdl/LogonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.test.com" xmlns:intf="http://service.test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkUserRight">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkUserRightResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkUserRightRequest">

      <wsdl:part element="impl:checkUserRight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkUserRightResponse">

      <wsdl:part element="impl:checkUserRightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LogonService">

      <wsdl:operation name="checkUserRight">

         <wsdl:input message="impl:checkUserRightRequest" name="checkUserRightRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkUserRightResponse" name="checkUserRightResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LogonServiceSoapBinding" type="impl:LogonService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkUserRight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkUserRightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkUserRightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LogonServiceService">

      <wsdl:port binding="impl:LogonServiceSoapBinding" name="LogonService">

         <wsdlsoap:address location="http://localhost:8080/WebServicePro/services/LogonService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
